{% extends 'base.html.twig' %}

{% block title %}Интернет-магазин{% endblock %}

{% block body %}
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                {{ render(controller('App\\Controller\\IndexController::showCategories')) }}


            <span class="col-md-4 search">
                {{ form_start(formSearch, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                <div class="form-group">
                        {{ form_label(formSearch.name, 'Название товара') }}
                    {{ form_widget(formSearch.name) }}
                    <br>
                    {{ form_label(formSearch.category, 'Категория товара') }}
                    {{ form_widget(formSearch.category) }}
                    {{ form_label(formSearch.maxPrice, 'Максимальная цена товара') }}
                    {{ form_widget(formSearch.maxPrice) }}
                    {{ form_label(formSearch.minPrice, 'Минимальная цена товара') }}
                    {{ form_widget(formSearch.minPrice) }}
                </div>
                <br>
                {{ form_widget(formSearch.search, {'attr': {'class': 'btn btn-warning w-100'}}) }}
                {{ form_end(formSearch) }}
            </span>
            </div>

            <div class="col-md-8">
                <div class="col-md-8 products">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-6">
                                {{ include('product/product_block.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                    {% if paginator_s is defined %}
                    <div class="pagination">
                        {% for key, page in paginator_s.paginator %}
                            {% if key == 'leftPoints' %}
                                <li class="page-item"><a class="page-link">{{ page }}</a></li>
                            {% elseif key == 'rightPoints' %}
                                <li class="page-item"><a class="page-link">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ path('index', {page: page}) }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}