<div class="left-sidebar">
    <div class="list-group">
        {% for category in categories %}
            <a href="{{ path('view_category', {category: category.id}) }}"
               class="list-group-item">{{ category.name }}
                <p class="left-int">{{ CountProductsInCategory(category.id) }}</p>
            </a>
        {% endfor %}
    </div>
    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <div class="list-group">
                <br><a href="{{ path('new_product') }}" class="list-group-item">добавить товар</a>
                <br><a href="{{ path('get_products_api') }}" class="list-group-item">добавить товары из АПИ</a>
            </div>
        {% endif %}
    {% endif %}
</div>
