{% extends 'base.html.twig' %}

{% block title %}Интернет-магазин{% endblock %}

{% block body %}
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                {{ render(controller('App\\Controller\\IndexController::showCategories')) }}
            </div>
            <div class="col-md-8">
                <div class="col-md-8 products">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ include('product/product_block.html.twig') }}
                            {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                            <div class="form-group">
                                {{ form_label(form.quantity, 'Количество') }}
                                {{ form_widget(form.quantity, {
                                    'attr': {
                                        'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                                    }
                                }) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.quantity) }}
                                </div>
                            </div>
                            <br>
                            {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-100'}}) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}